@import "../../vars.css";

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-between;
    z-index: 1;
    margin-left: 18%;
    margin-right: 18%;
    padding-bottom: 6rem;
}
.rightSection {
    padding-top: 6rem;
    flex: 2;
}

.leftSection {
    float: left;
    position: sticky;
    padding-top: 6rem;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    height: 100vh;
}

.rightSection {
    color: var(--color-title);
    margin-bottom: 1rem; 
    font-size: 25px;
}

.title {
    color: var(--color-title);
    font-size: 65px;
    font-weight: 900;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgba(255,255,255,1)70% rgba(255,255,255,0)120%);
    z-index: 1;
    
}

.navWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.navTitle {
    color: var(--color-primary);
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.navTitle::before {
    content: "";
    display: block;
    width: 42px;
    height: 2px; 
    background-color: var(--color-text); 
    transition: width 0.3s ease, background-color 0.7s ease; 
    margin-right: 16px; 
}

.navTitle:hover::before,
.navTitle:focus-visible::before {
    width: 64px; 
    background-color: var(--color-title); 
}

.navTitle:hover {
    color: var(--color-title);
}

.motion-reduce .navTitle::before {
    transition: none; 
}
.description {
    font-size: 26px;
    font-family: var(--font-roboto);
    color: var(--color-title);
    margin-bottom: 52px;
}


.ProfileImage {
    position: sticky;
    width: 30%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    height: auto; 
    border-radius: 50%; 
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }
    .content {
        align-items: center;
    }
    .ProfileImage {
        width: 50%;
    }
}

