
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
.mouse-aura {
  position: fixed;
  width: 300px;
  height: 300px;
  pointer-events: none;
  background: radial-gradient(circle, rgb(2, 3, 71), rgb(15, 23, 42));
  border-radius: 50%;
  z-index: 0;
  transform: translate(calc(var(--mouse-x) - 150px), calc(var(--mouse-y) - 150px));
  transition: transform 0.05s ease-out;
}

.mouse-aura::before, 
.mouse-aura::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.mouse-aura::before {
  width: 600px;  
  height: 600px;
  background: radial-gradient(circle, rgba(3, 2, 37, 0.5) 30%, rgba(0, 0, 0, 0) 70%); /* Darker outer ring */
}


.mouse-aura::after {
  width: 900px;  
  height: 900px;
  background: radial-gradient(circle, rgba(5, 24, 75, 0.6) 30%, rgba(0, 0, 0, 0) 70%); /* Dark middle ring */
}


