:root {
    /*Colours */
    --color-text:#94A4B8;
    --color-title: #e2e8f0;
    --color-bg: rgb(15 23 42);

    /*FONTS*/
    --font-roboto: "Roboto";

    --font-size-medium: 18px;
    --font-size-mediumLarge: 25px;
}